:root {
  /* LIGHT MODE */
  --bg-page: #f3f4f6;      /* Pozadí celé stránky */
  --bg-card: #ffffff;      /* Karty, panely, modaly */

  /* Text */
  --text-main: #0f172a;    /* Hlavní text (téměř černá) */
  --text-muted: #6b7280;   /* Vedlejší text (popisky, poznámky) */

  /* Okraje */
  --border-color: #d1d5db; /* Okraje karet, modalů apod. */
    /* 🔴 Delete button background (light) */
  --delete-bg: #fee2e2;
}

:root[data-theme="dark"] {
  /* DARK MODE */
  --bg-page: #020617;      /* Pozadí celé stránky (velmi tmavé) */
  --bg-card: #111827;      /* Karty, panely, modaly */

  /* Text */
  --text-main: #ffffff;    /* Hlavní text v dark módu */
  --text-muted: #6b7280;   /* Vedlejší text – stejná barva pro oba módy */

  /* Okraje */
  --border-color: #d1d5db; /* Stejná barva pro oba módy */
    /* 🔴 Delete button background (dark) */
  --delete-bg: #4b1919;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}